.headerContainer{
    display: flex;
    justify-content: center;
    height: 234px;
    margin: auto;
    width: 1000px ;
    border: 2px solid #000055 ;
    background-color: #5555ff;
}

.dataContainer{
    background-color: #7777ff;
    display: block;
    width: 500px;
    height: 180px;
    border: 2px solid #000055;
    margin-top:20px;
    padding: 5px;
}

.dataItemContainer{
    display: flex;
}

.data{
    background-color: #9999ff;
    border:none;
    width: 50%;
    height: 50px;
    text-align: left;
    font-size: 25px;
    margin: 5px;
    padding-left: 5px;
}



